:root {
  --verde: #009440;
  --amarelo: #ffcb00;
  --azul: #302681;
  --preto: #000000;
  --branco: #ffffff;
  --cinza-claro: #d5d0ca;
  --cinza-escuro: #1e1e1e;
}

.navbar-toggler-icon {
  color: #009440;
}

body {
  font-family: Inter, Roboto, sans-serif;
  background-color: var(--cinza-claro);
  color: var(--preto);
}

h1,
h2,
h3 {
  font-family: Montserrate, Poppins, sans-serif;
}

.font-montserrat {
  font-family: Montserrat, serif;
}

.font-poppins {
  font-family: Poppins, serif;
}

.font-inter {
  font-family: Inter, sans-serif;
}

.font-roboto {
  font-family: Roboto, sans-serif;
}

.cor-verde {
  color: var(--verde);
}

.cor-amarelo {
  color: var(--amarelo);
}

.cor-azul {
  color: var(--azul);
}

.cor-preto {
  color: var(--preto);
}

.cor-branco {
  color: var(--branco);
}

.cor-cinza-claro {
  color: var(--cinza-claro);
}

.cor-cinza-escuro {
  color: var(--cinza-escuro);
}

.gradient-text {
  background-image: linear-gradient(to right, var(--verde), var(--azul), var(--amarelo));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-2 {
  background-image: linear-gradient(to right, var(--verde), var(--amarelo));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  scroll-margin-top: 3rem;
}

.subtitulo-secao {
  font-size: 18px;
  font-weight: 900;
}

#barraNavegacao {
  background-color: black;
}

.nav-link {
  color: white;
}

.nav-link:focus {
  color: white;
}

.nav-link:hover {
  color: var(--verde);
}

.hero {
  background-image: url("hero.webp");
  /* Imagem adicionada para a seção Hero */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Efeito Parallax simples */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

#textoHero {
  margin-top: 66px;
  max-width: 700px;
}

@media only screen and (max-width: 600px) {
  .hero {
    background-image: url("hero-mobile.webp");
    align-items: center;
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.section-title {
  color: var(--preto);
  margin-bottom: 30px;
  font-weight: bold;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  height: 500px;
  /*background-color: var(--preto);*/
  background: linear-gradient(to bottom right, var(--verde), var(--amarelo));
}

.slideContent {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 12px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--azul);
}

/* Caption text */
.text {
  color: var(--preto);
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  /*position: absolute;
  bottom: 8px;*/
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--amarelo);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--verde);
}

.dot:hover {
  background-color: var(--azul);
}

.btn-contato {
  background-color: var(--verde);
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}

.btn-contato i {
  font-size: 1.5rem;
  color: white;
}

.div-contato:hover {
  button {
    /* border: 1px solid black; */
    background-color: var(--amarelo);

    i {
      color: black;
    }
  }
}

.nomeSistema {
  background-color: var(--branco);
  padding: 0.5rem;
  border-radius: 1rem;
}

#btnWhatsApp {
  width: 4rem;
  height: 4rem;
  background-color: #25d366;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#btnWhatsApp:hover {
  transform: scale(1.1);
}

footer {
  background-color: var(--preto);
  color: white;
}
